<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">-->
<!--      <div class="form-group">-->
<!--        <label for="emailInput">Email address</label>-->
<!--        <input id="emailInput" type="text" formControlName="email">-->
<!--        <button type="submit" [disabled]="!profileForm.valid">Submit</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--</div>-->
<div class="card">
  <div class="card-body">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" class="form-control" id="emailInput" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">

        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>




