<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ order.orderNo }}</h5>
    <h6 class="card-subtitle">{{ order.product_name }}</h6>
    <img src="{{order.articleImageUrl}}">
    <p class="card-text">Courier : {{ order.courier }}</p>
    <p class="card-text">Zip Code : {{ order.zip_code }}</p>
    <p class="card-text">City : {{ order.city }}</p>
    <p class="card-text">Destination :{{ order.destination_country_iso3 }}</p>
    <p class="card-text">Email : {{ order.email }}</p>
    <p class="card-text">Article No :{{ order.articleNo }}</p>
    <p class="card-text">Quantity :{{ order.quantity }}</p>
    <p class="card-text">Tracking Number :{{ order.tracking_number }}</p>
    <a class="btn btn-primary" [routerLink]="['/order', order.tracking_number]" >Check Details</a>
  </div>
</div>
